*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'poppins',sans-serif;
}
.navbar{
    background-color: #fd6569;
    color: white;
    padding: 10px;
}

.container{
    padding: 10px;

}
.book-container{
    padding: 15px;
    width: 25%;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin: 30px;
    display: inline-block;
    vertical-align: top;
}

.book-container h2{
    color: #fd6569;
}
.book-container p{
    margin-top: 10px;
}
.book-container button{
    background-color: #f04248;
    color: black;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    margin-top: 10px;
}

.add-button{
    background-color: #f73138;
    border-radius: 100%;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 40px;
    border: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.popup-overlay{
    background-color: black;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}

.popup-box{
    background-color:#f43940;
    width: 30%;
    border-radius: 10px;
    position: absolute;
    top: 20%;
    left: 35%;
    z-index: 2;
    padding: 40px;
    display: none;
}

.popup-box input{
    background: transparent;
    border: none;
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border-bottom: solid black 2px;
    outline: none;
}

.popup-box textarea{
    background: transparent;
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border: solid black 2px;
    outline: none;
}

.popup-box input::placeholder{
    color: black;
}
.popup-box textarea::placeholder{
    color: black;
}

.popup-box button{
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    margin: 5px;
    border: none;
}